<div id="home">
    <div class="top">
        <img src="./res/img/1.jpeg" alt="user img" class="img-circle">
        <table>
            <tr>
                <td>Name：</td>
                <td>Rabbit</td>
            </tr>
            <tr>
                <td>Sex：</td>
                <td>F</td>
            </tr>
        </table>
    </div>

    <ul class="msg">
        <li ng-click="ctrl.goHref('http://m.xzw.com/astro/capricorn/')">
            <span class="glyphicon glyphicon-star-empty"></span>
            <div>
                Capricorn
            </div>
        </li>
        <li ng-click="ctrl.goHref('http://m.xzw.com/blood/')">
            <span class="glyphicon glyphicon-tint"></span>
            <div>
                Blood Type
            </div>
        </li>
        <li ng-click="ctrl.alert()">
            <span class="glyphicon glyphicon-heart"></span>
            <div>
                Love
            </div>
        </li>
    </ul>

    <ul class="msg">
        <li>
            <span class="glyphicon glyphicon-phone-alt"></span>
            <div>
                <a href="tel:10001">022-1314666</a>
            </div>
        </li>
        <li>
            <span class="textImg"><b>YY</b></span>
            <div>
                <a>232750</a>
            </div>
        </li>
    </ul>


</div>